#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  padding: 0 80px;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 50px;
  width: 590px;
  height: 340px;
}

.xx {
  font-size: 30px;
  font-weight: 500;
  margin-top: 70px;
}

h1,
select {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 50px;
}

select {
  margin-bottom: 25px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./img/custom_arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.group_box {
  flex: 1;
  max-width: 48%;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
}

input {
  font-size: 17px;
  width: 70%;
  height: 40px;
  border: none;
  text-align: right;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 50%;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.reset {
  background-color: #6c757d;
}

.flip {
  background-color: #0d6efd;
}
